<% include ../pages/header %>
    <div class="media">
        <div class="media-left">
            <a href="/message/<%= message.id %>">
                <img class="media-object" src="/uploads/5885547e1b3ba16ed29828418768e31a" width="64" height="64">
            </a>
        </div>
        <div class="media-body">
            <blockquote>
                <p><%= message.content %></p>
                <footer> 
                        <cite title="Source Title"><%= message.created_at.fromNow() %></cite>
                </footer>
            </blockquote>
        </div>
    </div>
<% include ../pages/footer %>
