<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
        <title>Demo</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            <% if (locals.flash && locals.flash.error ){ %>
            <div class="alert alert-warning">
                <%= flash.error %>
            </div>
            <% } %>
            <% if (locals.flash && locals.flash.success ){ %>
                <div class="alert alert-success">
                    <%= flash.success %>
                </div>
            <% } %>
            